body {
  font-family: 'Courier New', Courier, monospace;
}

th,
td {
  border-bottom: 1px solid lightgray;
  padding: 4px;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid lightgray;
}

.diff {
  background-color: color-mix(in srgb, rebeccapurple, transparent 90%);
}
