name: Continuous Integration
on: [push]

jobs:
  build:
    name: Build and test on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest, macOS-latest]
        os: [ubuntu-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Test
        run: bun test

      # TODO: Upload to Codecov once Bun outputs lcov (https://github.com/oven-sh/bun/issues/4015)
      # - name: Upload coverage to Codecov
      #   # if: matrix.os == 'ubuntu-latest' && matrix.node == '18.x'
      #   uses: codecov/codecov-action@v1
